build
__pycache__
*.egg-info
*.stl
stage1/**/*json
stage2/**/*json
TODO.md
*pdf
*sif
slidev/dist
uv.lock
node_modules
trials/*
!trials/.gitkeep
training_dataset/*
!training_dataset/.gitkeep
testing_dataset/*
!testing_dataset/.gitkeep
outputs
*.csv
*.html
*Faces
